SERIES

In [23]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [24]:
#Series is like an array with labels, here the labels are the indexes and the array elements are called values
ob=Series([3,6,9,12,15])
ob

0     3
1     6
2     9
3    12
4    15
dtype: int64

In [25]:
# retriving only values and only indexes
ob.index

RangeIndex(start=0, stop=5, step=1)

In [26]:
ob.values

array([ 3,  6,  9, 12, 15])

In [27]:
#series with explicitly used indexes
crops=Series(['Rice','Wheat','Corn','Jowar'],index=['Kerela','Maharashtra','Gujarat','MadhyaPradesh'])

In [29]:
'Maharashtra' in crops

True

In [30]:
crops

Kerela            Rice
Maharashtra      Wheat
Gujarat           Corn
MadhyaPradesh    Jowar
dtype: object

In [31]:
new_dictionary=crops.to_dict()
new_dictionary

{'Kerela': 'Rice',
 'Maharashtra': 'Wheat',
 'Gujarat': 'Corn',
 'MadhyaPradesh': 'Jowar'}

In [35]:
states=['Kerela','Maharashtra','Gujarat','MadhyaPradesh','Goa']

In [36]:
yeilds=Series(crops,states)
yeilds

Kerela            Rice
Maharashtra      Wheat
Gujarat           Corn
MadhyaPradesh    Jowar
Goa                NaN
dtype: object

In [40]:
pd.isnull(yeilds)

Kerela           False
Maharashtra      False
Gujarat          False
MadhyaPradesh    False
Goa               True
dtype: bool

In [46]:
crops.name='Staple Grains'

#Labelling the index
crops.index.name='States'
crops

States
Kerela            Rice
Maharashtra      Wheat
Gujarat           Corn
MadhyaPradesh    Jowar
Name: Staple Grains, dtype: object

In [49]:
#labelling the crops - stackoverflow
crops.reset_index(name='Grains')

          States Grains
0         Kerela   Rice
1    Maharashtra  Wheat
2        Gujarat   Corn
3  MadhyaPradesh  Jowar

DATAFRAMES

In [50]:
import webbrowser
website='http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [74]:
#copying the data from clipboard to the file
nfl_records=pd.read_clipboard()

In [75]:
nfl_records

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division
1,Green,Bay,Packers,"1,401",782,581,38.000,0.572,1921,NFC,North
2,Dallas,Cowboys,947,538,403,6,0.571,1960.000,NFC,East,None
3,New,England,Patriots,949,529,411,9.000,0.562,1960,AFC,East
4,Chicago,Bears,"1,435",783,610,42,0.560,1920.000,NFC,North,None
5,Baltimore,Ravens,417,233,183,1,0.560,1996.000,AFC,North,None
6,Miami,Dolphins,865,476,385,4,0.553,1966.000,AFC,East,None
7,Minnesota,Vikings,935,503,421,11,0.544,1961.000,NFC,North,None

In [54]:
#retriving single column
nfl_records.Team

1         Bay
2     Cowboys
3     England
4       Bears
5      Ravens
6    Dolphins
7     Vikings
Name: Team, dtype: object

In [60]:
nfl_records['First']

1       0.572
2    1960.000
3       0.562
4    1920.000
5    1996.000
6    1966.000
7    1961.000
Name: First, dtype: float64

In [63]:
#retriving multiple columns- making new dataframe
nfl_part=DataFrame(nfl_records,columns=['NFL','Season','Division'])
nfl_part

    NFL  Season Division
1  1921     NaN    North
2   NFC     NaN     None
3  1960     NaN     East
4   NFC     NaN     None
5   AFC     NaN     None
6   AFC     NaN     None
7   NFC     NaN     None

In [64]:
# Stadium is not in the records, hence its NUll
DataFrame(nfl_records,columns=['NFL','Season','Division','Stadium'])

    NFL  Season Division  Stadium
1  1921     NaN    North      NaN
2   NFC     NaN     None      NaN
3  1960     NaN     East      NaN
4   NFC     NaN     None      NaN
5   AFC     NaN     None      NaN
6   AFC     NaN     None      NaN
7   NFC     NaN     None      NaN

In [65]:
# Retriving rows using head() default count for head is 5
nfl_records.head(4)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division
1,Green,Bay,Packers,"1,401",782,581,38.000,0.572,1921,NFC,North
2,Dallas,Cowboys,947,538,403,6,0.571,1960.000,NFC,East,None
3,New,England,Patriots,949,529,411,9.000,0.562,1960,AFC,East
4,Chicago,Bears,"1,435",783,610,42,0.560,1920.000,NFC,North,None

In [66]:
#Retriving rows from last using tail()
nfl_records.tail(2)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division
6,Miami,Dolphins,865,476,385,4,0.553,1966.0,AFC,East,None
7,Minnesota,Vikings,935,503,421,11,0.544,1961.0,NFC,North,None

In [80]:
nfl_records['Rank']

1        Green
2       Dallas
3          New
4      Chicago
5    Baltimore
6        Miami
7    Minnesota
Name: Rank, dtype: object

In [76]:
nfl_records.index

Int64Index([1, 2, 3, 4, 5, 6, 7], dtype='int64')

In [86]:
#retriving single row details by mentioning the location
nfl_records.loc[2]

Rank         Dallas
Team        Cowboys
GP              947
Won             538
Lost            403
Tied              6
Pct.          0.571
First        1960.0
NFL             NFC
season         East
Division       None
Name: 2, dtype: object

In [87]:
nfl_records.iloc[4]

Rank        Baltimore
Team           Ravens
GP                417
Won               233
Lost              183
Tied                1
Pct.             0.56
First          1996.0
NFL               AFC
season          North
Division         None
Name: 5, dtype: object

In [89]:
# Adding a new column
nfl_records['Stadium']="Levi's Stadium"
nfl_records

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division,Stadium
1,Green,Bay,Packers,"1,401",782,581,38.000,0.572,1921,NFC,North,Levi's Stadium
2,Dallas,Cowboys,947,538,403,6,0.571,1960.000,NFC,East,None,Levi's Stadium
3,New,England,Patriots,949,529,411,9.000,0.562,1960,AFC,East,Levi's Stadium
4,Chicago,Bears,"1,435",783,610,42,0.560,1920.000,NFC,North,None,Levi's Stadium
5,Baltimore,Ravens,417,233,183,1,0.560,1996.000,AFC,North,None,Levi's Stadium
6,Miami,Dolphins,865,476,385,4,0.553,1966.000,AFC,East,None,Levi's Stadium
7,Minnesota,Vikings,935,503,421,11,0.544,1961.000,NFC,North,None,Levi's Stadium

In [92]:
nfl_records['Stadium']=np.arange(7)
nfl_records

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division,Stadium
1,Green,Bay,Packers,"1,401",782,581,38.000,0.572,1921,NFC,North,0
2,Dallas,Cowboys,947,538,403,6,0.571,1960.000,NFC,East,None,1
3,New,England,Patriots,949,529,411,9.000,0.562,1960,AFC,East,2
4,Chicago,Bears,"1,435",783,610,42,0.560,1920.000,NFC,North,None,3
5,Baltimore,Ravens,417,233,183,1,0.560,1996.000,AFC,North,None,4
6,Miami,Dolphins,865,476,385,4,0.553,1966.000,AFC,East,None,5
7,Minnesota,Vikings,935,503,421,11,0.544,1961.000,NFC,North,None,6

In [96]:
#adding a series to a DataFrame with index number and connecting them together
Stadium=Series(['L Stadium','A Stadium'],index=[3,5])
nfl_records['Stadium']=Stadium
nfl_records

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division,Stadium
1,Green,Bay,Packers,"1,401",782,581,38.000,0.572,1921,NFC,North,NaN
2,Dallas,Cowboys,947,538,403,6,0.571,1960.000,NFC,East,None,NaN
3,New,England,Patriots,949,529,411,9.000,0.562,1960,AFC,East,L Stadium
4,Chicago,Bears,"1,435",783,610,42,0.560,1920.000,NFC,North,None,NaN
5,Baltimore,Ravens,417,233,183,1,0.560,1996.000,AFC,North,None,A Stadium
6,Miami,Dolphins,865,476,385,4,0.553,1966.000,AFC,East,None,NaN
7,Minnesota,Vikings,935,503,421,11,0.544,1961.000,NFC,North,None,NaN

In [101]:
del nfl_records['Stadium']

KeyError: 'Stadium'

In [100]:
nfl_records

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division
1,Green,Bay,Packers,"1,401",782,581,38.000,0.572,1921,NFC,North
2,Dallas,Cowboys,947,538,403,6,0.571,1960.000,NFC,East,None
3,New,England,Patriots,949,529,411,9.000,0.562,1960,AFC,East
4,Chicago,Bears,"1,435",783,610,42,0.560,1920.000,NFC,North,None
5,Baltimore,Ravens,417,233,183,1,0.560,1996.000,AFC,North,None
6,Miami,Dolphins,865,476,385,4,0.553,1966.000,AFC,East,None
7,Minnesota,Vikings,935,503,421,11,0.544,1961.000,NFC,North,None

In [102]:
#creating DataFrame 1. create a dictionary 
data={'city':['Mumbai','Pune','Kolhapur'],'Population':[9300000,6900000,380000] }

In [104]:
#2. creating a dataframe passing the dictionary 
Pop=DataFrame(data)
Pop

       city  Population
0    Mumbai     9300000
1      Pune     6900000
2  Kolhapur      380000